server {
 
  listen 80;
  root   /usr/share/nginx/html;
 
  # SH-1050: X-Frame-Options header security
  # NOTE: this is added in each block because doing an add_header below WIPES it?!?!?
  add_header X-Frame-Options SAMEORIGIN;
  add_header X-Content-Type-Options nosniff;
 
 
  # index.(rtl|ltr).html should *always* be invalidated to ensure up-to-date changes
  location ~ ^/index.html {
    add_header Cache-Control "no-store, no-cache, must-revalidate";
    # SH-1050: X-Frame-Options header security
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-Content-Type-Options nosniff;
  }
 
  # Static files get unique version strings, cache aggressively
  location /static {
    expires 1y;
    add_header Cache-Control "public";
    add_header Pragma "public";
    # SH-1050: X-Frame-Options header security
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-Content-Type-Options nosniff;
    access_log off;
  }
 
  location / {
    add_header Cache-Control "no-store, no-cache, must-revalidate";
    add_header Pragma "no-cache";
    # SH-1050: X-Frame-Options header security
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-Content-Type-Options nosniff;
 
    try_files $uri /index.html;
  }
 
  error_page   500 502 503 504  /50x.html;
 
  location = /50x.html {
    root   /usr/share/nginx/html;
  }
 
  gzip on;
  gzip_types text/plain application/xml application/json application/javascript text/css;
  gzip_comp_level 6;
}
